## Python Tuples
1. stores multiple values in one variable
2. immutable- cannot change the values once declared like adding or removing values.
3. ordered- zero inndexed
4. uses rounf brackets `()`
5. duplicate values are allowed
6. can store data with same datatype or different datatype

In [1]:
tuple1=(1,2,3,4,5,6,7)
tuple2=(1,2,3,'a','b',3.45,True)
print(len(tuple1))
print(len(tuple2))
print(type(tuple1))
print(type(tuple2))

7
7
<class 'tuple'>
<class 'tuple'>

In [2]:
for i in tuple2:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
a <class 'str'>
b <class 'str'>
3.45 <class 'float'>
True <class 'bool'>

### Accessing tuple

In [6]:
for i in range(len(tuple1)):
    print('values=',tuple1[i],'index=',i)

values= 1 index= 0
values= 2 index= 1
values= 3 index= 2
values= 4 index= 3
values= 5 index= 4
values= 6 index= 5
values= 7 index= 6

In [7]:
for i in range(len(tuple2)):
    print('values=',tuple2[i],'index=',i)

values= 1 index= 0
values= 2 index= 1
values= 3 index= 2
values= a index= 3
values= b index= 4
values= 3.45 index= 5
values= True index= 6

In [10]:
#accessing tuples in reverse order
for i in range(len(tuple1)-1,-1,-1):
    print('values=',tuple1[i],'index=',i)

values= 7 index= 6
values= 6 index= 5
values= 5 index= 4
values= 4 index= 3
values= 3 index= 2
values= 2 index= 1
values= 1 index= 0

In [14]:
#accessing values using negative index
for i in range(1,len(tuple1)+1,1):
    print('values=',tuple1[-i],'index=',-i)

values= 7 index= -1
values= 6 index= -2
values= 5 index= -3
values= 4 index= -4
values= 3 index= -5
values= 2 index= -6
values= 1 index= -7

### Updating tuple values
1. i already metioned tuple values cannot be changed.
2. so inorder to change the tuple values, one has to change it into `list` using `list()` and change the values like adding or removing the value and again convert it into `tuple` again using `tuple()`

In [15]:
print(tuple1)

(1, 2, 3, 4, 5, 6, 7)

In [16]:
tuple_to_list = list(tuple1)
print(type(tuple_to_list))

<class 'list'>

In [17]:
tuple_to_list.append(10)
print(tuple_to_list)

[1, 2, 3, 4, 5, 6, 7, 10]

In [18]:
tuple1=tuple(tuple_to_list)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4, 5, 6, 7, 10)
<class 'tuple'>

you can add tuple to tuple if you don't want to use list().

In [19]:
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 10)

In [20]:
tuple3=(11,12)
tuple1+=tuple3
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 10, 11, 12)

1. you cannot remove the tuple items because tuples are unchangeable but using delete the tuple completely using `del tuplename`
2. If you want to remove any tuple values, you can convert it into list and remove the element like we discussed previously

In [21]:
del tuple1
print (tuple1)

NameError: name 'tuple1' is not defined

In [22]:
print(tuple2)

(1, 2, 3, 'a', 'b', 3.45, True)

In [30]:
tuple4=(1,2,3,4,54,32,222,2,2,2,2,5,5,577,7,7,1,0,0,4,4,4,4,4)
tuple4.count(4)

6

In [31]:
tuple4.count(2)

5

In [34]:
from collections import Counter
count=Counter(tuple4)

print(count)

Counter({4: 6, 2: 5, 1: 2, 5: 2, 7: 2, 0: 2, 3: 1, 54: 1, 32: 1, 222: 1, 577: 1})

In [49]:
list1=[]
list2=list(tuple4)
for i in list2:
    if i in list1:
        pass
    else:
        list1.append(i)
for i in list1:
    print('count of',i,end='\t')
    print('=',list2.count(i))

count of 1	= 2
count of 2	= 5
count of 3	= 1
count of 4	= 6
count of 54	= 1
count of 32	= 1
count of 222	= 1
count of 5	= 2
count of 577	= 1
count of 7	= 2
count of 0	= 2

In [50]:
tuple4.index(2)

1