## Python Sets
1. sets are used to store multiple values using curly brackets `{}`
2. It is unchangeable, unordered, and does not allow duplicate values.
3. Even though it is unchageable, you can add or remove values.

In [2]:
set1 = {1,2,3,4,5,6,9,11,23,43,22}
print(len(set1))
print(type(set1))
print(set1)

11
<class 'set'>
{1, 2, 3, 4, 5, 6, 9, 11, 43, 22, 23}

In [3]:
set2 = {1,2,3,1,2}
print(set2)

{1, 2, 3}

In [4]:
set3 = set((1,2,3,5,4,8,7,9,6))
print(type(set3))
print(set3)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Accessing set items:
1. you cannot access the set items using index or key
2. you can check whether some element present in the set using `in` operator

In [5]:
3 in set3

True

In [7]:
for x in set3:
    print(x, end='\t')

1	2	3	4	5	6	7	8	9

### Adding elements to the set

In [14]:
#adding single item
set4={"a","b","c","d"}
set4.add("f")
print(set4)

{'b', 'a', 'f', 'd', 'c'}

In [15]:
#adding a set to the set using update
set5={"e","g","q","h"}
set4.update(set5)
print(set4)

{'q', 'b', 'a', 'f', 'd', 'g', 'h', 'c', 'e'}

Using `update()`, you can even use list or other iteratables to the set

In [16]:
list1=[1,2,3,4]
set4.update(list1)
print(set4)

{1, 2, 3, 4, 'q', 'b', 'a', 'f', 'd', 'g', 'h', 'c', 'e'}

### Removing item from the set
1. remove(item)
2. discard(item)
3. pop()- will remove last item from the set. since set is unordered, we don't know which is the last element.

In [17]:
print(set4)

{1, 2, 3, 4, 'q', 'b', 'a', 'f', 'd', 'g', 'h', 'c', 'e'}

In [18]:
set4.remove(3)
print(set4)
set4.discard("b")
print(set4)
pop_element=set4.pop()
print(f"popped element = {pop_element}")
print(set4)

{1, 2, 4, 'q', 'b', 'a', 'f', 'd', 'g', 'h', 'c', 'e'}
{1, 2, 4, 'q', 'a', 'f', 'd', 'g', 'h', 'c', 'e'}
popped element = 1
{2, 4, 'q', 'a', 'f', 'd', 'g', 'h', 'c', 'e'}

In [19]:
#empties the set element
set4.clear()
print(set4)

set()

In [20]:
#deleting the entire set
del set4
print(set4)

NameError: name 'set4' is not defined

## Set Methods

### Union
Join the sets

In [21]:
set4={1,2,3,4,5,6,7,8,9}
set5={2,3,4,55,10,12,6,8}
set6={3,4,5,6,7,23,45,67}
union_set=set4.union(set5,set6)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 67, 12, 23, 45, 55}

In [22]:
union_symbol=set4 | set5 | set6 #union using opertaor |
print(union_symbol)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 67, 12, 23, 45, 55}

### Intersection
returns the common values among the set

In [23]:
intersection_set=set4.intersection(set5,set6)
print(intersection_set)

{3, 4, 6}

In [24]:
intersection_symbol=set4 & set5 & set6 #intersection using opertaor &
print(intersection_symbol)

{3, 4, 6}

### Difference

In [25]:
difference=set4.difference(set5,set6)
print(difference)

{1, 9}

In [26]:
difference_symbol=set4 - set5 - set6 #difference using opertaor -
print(difference_symbol)

{1, 9}

In [28]:
sym_difference=set4.symmetric_difference(set5)
print(sym_difference)

{1, 5, 7, 9, 10, 12, 55}

In [29]:
#to check there are no common values
num1={1,2,3,4,5}
num2={3,4,5,6}
num3={7,8,9}
result=num1.isdisjoint(num2)
print(result)
result1=num1.isdisjoint(num3)
print(result1)

False
True

other methods in set are `issubset()`,`intersection_update()`,`difference_update()` etc...